Introduction to Python
Python, created by Guido van Rossum and released in 1991, is a versatile programming language used for web development, software development, mathematics, and system scripting.

Hello world

In [1]:
print("Hello World")

Hello World

In [ ]:
print(f'hellow world')

hellow world

In [3]:
print("Hello\nWorld")

Hello
World

In [4]:
print('Hello"World"')

Hello"World"

Variables

In [9]:
x = 10
y = "Alice"
print(x)
print(y)
print(f'{y} dons the jersey number {x}')

10
Alice
Alice dons the jersey number 10

In [17]:
x = 7
print(x)
x = "Rakesh" #Redefining
print(x)

7
Rakesh

In [18]:
x = str(3.56)
y = float(2)
z = int(5.0)
print(x)
print(y)
print(z)

3.56
2.0
5

In [20]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'float'>
<class 'int'>

Basic Arithmetic

In [ ]:
a, b = 10, 5

In [32]:
#Addition
print(f'a+b = {a+b}')
#Subtraction
print(f'a-b = {a-b}')
#Multiplication
print(f'a*b= {a*b}')
#Division 
print(f'a/b = {a/b}')
#Modulus
print(f'a%b = {a%b}')
#Exponentiation
print(f'a**b = {a**b}')
#Floor divison (will return largest whole no)
print(f'a//b = {a//b}')
#Bitwise AND
print(f'a&b= {a&b}')
#Bitwise OR
print(f'a|b = {a|b}')
#Booleans
print(f'a>b = {a>b}')

a+b = 15
a-b = 5
a*b= 50
a/b = 2.0
a%b = 0
a**b = 100000
a//b = 2
a&b= 0
a|b = 15
a>b = True

List

In [33]:
list_A = ['Maths', 'Physics', 'Computation']
print(list_A)
print(len(list_A))

['Maths', 'Physics', 'Computation']
3

In [34]:
print(type(list_A))

<class 'list'>

In [47]:
x = list_A[1]
print(x)
y  = list_A[-3]
print(y)
print(list_A[0:2])
list_A[2] = "Biology"
print(list_A)
list_A[0:2] = ["COA", "OS"]
print(list_A)

OS
COA
['COA', 'OS']
['COA', 'OS', 'Biology']
['COA', 'OS', 'Biology']

In [48]:
list_A.insert(1, "Economics")

In [49]:
list_A

['COA', 'Economics', 'OS', 'Biology']

In [50]:
list_A.append("TOC")

In [51]:
list_A

['COA', 'Economics', 'OS', 'Biology', 'TOC']

In [52]:
list_A.sort()

In [53]:
list_A

['Biology', 'COA', 'Economics', 'OS', 'TOC']

In [58]:
A = [1,2,3]
B = [4,5,6]
C = A + B
print(C)

[1, 2, 3, 4, 5, 6]

In [57]:
tuple_1 = (1,2,3,4,5, "Maths and Physics")
print(tuple_1)

(1, 2, 3, 4, 5, 'Maths and Physics')

Tuple = immutable and same as list


A dictionary is a collection which is ordered, mutable and do not allow duplicates.

Dictionaries are used to store data values in key:value pairs. Key is immutable and can be used for indexing